<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.eju.deal.base.linkage.dao.AreaMapper">
	<resultMap id="BaseResultMap" type="cn.com.eju.deal.base.linkage.model.Area">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="CityNo" property="cityNo" jdbcType="VARCHAR" />
		<result column="CityName" property="cityName" jdbcType="VARCHAR" />
		<result column="DistrictNo" property="districtNo" jdbcType="VARCHAR" />
		<result column="DistrictName" property="districtName" jdbcType="VARCHAR" />
		<result column="AreaName" property="areaName" jdbcType="VARCHAR" />
		<result column="AreaNo" property="areaNo" jdbcType="VARCHAR" />
		<result column="ModDate" property="moddate" jdbcType="TIMESTAMP" />
		<result column="FlagTrashed" property="flagTrashed" jdbcType="INTEGER" />
		<result column="FlagDeleted" property="flagDeleted" jdbcType="INTEGER" />
		<result column="ExDate" property="exDate" jdbcType="TIMESTAMP" />
		<result column="state" property="state" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, CityNo, CityName, DistrictNo, DistrictName, AreaName,
		AreaNo,
		ModDate, FlagTrashed,
		FlagDeleted, ExDate, state
	</sql>

	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from BAS_Area
		where ID = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="queryList" parameterType="Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		FROM BAS_Area
	</select>

	<!-- 根据行政区DistrictNo获取其板块 -->
	<select id="getAreaByDistrictNo" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		a.AreaNo, a.AreaName
		FROM
		BAS_Area a
		LEFT JOIN BAS_District d on a.DistrictNo = d.DistrictNo
		WHERE 
		a.DistrictNo = #{districtNo,jdbcType=VARCHAR}
	</select>

</mapper>