<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.eju.deal.base.code.dao.IpWhiteMapper" >
  <resultMap id="BaseResultMap" type="cn.com.eju.deal.base.code.model.IpWhite" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appId" property="appId" jdbcType="INTEGER" />
    <result column="ipStartStr" property="ipStartStr" jdbcType="VARCHAR" />
    <result column="ipStartInt" property="ipStartInt" jdbcType="BIGINT" />
    <result column="ipEndStr" property="ipEndStr" jdbcType="VARCHAR" />
    <result column="ipEndInt" property="ipEndInt" jdbcType="BIGINT" />
    <result column="ipWhiteType" property="ipWhiteType" jdbcType="INTEGER" />    
    <result column="delFlag" property="delFlag" jdbcType="CHAR" />
    <result column="dateCreate" property="dateCreate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, 
    ipStartStr, 
    ipStartInt, 
    ipEndStr, 
    ipEndInt,    
    appId,
    delFlag, 
    dateCreate
  </sql>  
	<select id="getIpCheckResult"  resultType="Integer"  parameterType="BigInteger">
		select 
		count(1)
		From FESB_IP_BW
		where delFlag='N'
		and (#{paramIp} BETWEEN ipStartInt and ipEndInt) 
	</select>
	
	<!-- 查询IP白名单配置信息list -->
	<select id="queryList" parameterType="Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM FESB_IP_BW
		WHERE delFlag = 'N'
	</select>
	
	<!-- 根据appId查询 -->
	<select id="getIpListByAppId" parameterType="Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM FESB_IP_BW
		<where>
			delFlag = 'N'
			<if test="appId != null">
  		  		<![CDATA[
    				AND appId = #{appId,jdbcType=INTEGER}
    			]]>
			</if>
		</where>
	</select>
	
</mapper>