<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.eju.deal.base.file.dao.FileTypeMapper">
	<resultMap id="BaseResultMap" type="cn.com.eju.deal.base.file.model.FileType">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="fileTypeCode" property="fileTypeCode" jdbcType="VARCHAR" />
		<result column="fileTypeName" property="fileTypeName" jdbcType="NVARCHAR" />
		<result column="delFlag" property="delFlag" jdbcType="BIT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, fileTypeCode, fileTypeName, delFlag
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from File_Type
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from File_Type
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.com.eju.deal.base.file.model.FileType">
		insert into File_Type (id, fileTypeCode, fileTypeName,
		delFlag)
		values (#{id,jdbcType=INTEGER}, #{fileTypeCode,jdbcType=VARCHAR},
		#{fileTypeName,jdbcType=NVARCHAR},
		#{delFlag,jdbcType=BIT})
	</insert>
	<insert id="insertSelective" parameterType="cn.com.eju.deal.base.file.model.FileType">
		insert into File_Type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="fileTypeCode != null">
				fileTypeCode,
			</if>
			<if test="fileTypeName != null">
				fileTypeName,
			</if>
			<if test="delFlag != null">
				delFlag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="fileTypeCode != null">
				#{fileTypeCode,jdbcType=VARCHAR},
			</if>
			<if test="fileTypeName != null">
				#{fileTypeName,jdbcType=NVARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.com.eju.deal.base.file.model.FileType">
		update File_Type
		<set>
			<if test="fileTypeCode != null">
				fileTypeCode = #{fileTypeCode,jdbcType=VARCHAR},
			</if>
			<if test="fileTypeName != null">
				fileTypeName = #{fileTypeName,jdbcType=NVARCHAR},
			</if>
			<if test="delFlag != null">
				delFlag = #{delFlag,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.com.eju.deal.base.file.model.FileType">
		update File_Type
		set fileTypeCode = #{fileTypeCode,jdbcType=VARCHAR},
		fileTypeName = #{fileTypeName,jdbcType=NVARCHAR},
		delFlag = #{delFlag,jdbcType=BIT}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>